* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

#navbar {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: #333;
  z-index: 999;
}

.logo {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.logo img {
  width: 75px;
}

.nav-link {
  width: 50%;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.home,
.work,
.contact {
  color: white;
  text-decoration: none;
}

.work {
  margin: 0 75px;
}

#welcome-section {
  background-image: linear-gradient(to bottom right, rgba(240, 57, 57, 0.65), rgba(0, 174, 255, 0.65), #50e3c2);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 60px;
  font-family: 'Lobster', cursive;
  margin-bottom: 20px;
  text-align: center;
}

.profile {
  width: 150px;
  height: 200px;
  overflow: hidden;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(46, 44, 44, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding: 5px;
}

.profile img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

h3 {
  padding-top: 10px;
  font-size: 20px;
}

main {
  background-image: linear-gradient(to top right, rgba(240, 57, 57, 0.65), rgba(0, 174, 255, 0.65), #50e3c2);
  width: 100%;
  height: 110vh;
  padding-top: 100px;
}

#main-title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

#projects {
  width: 100%;
  margin: 40px auto;
  display: flex;
  justify-content: space-around;
}

.project-tile {
  width: 250px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px 0;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.project-tile img {
  width: 200px;
  height: 250px;
  margin: auto;
}

.project-tile h4 {
  margin: 3px 0;
  font-size: 20px;
}

footer {
  background-color: #333;
  width: 100%;
  height: 87vh;
}

.footer-title {
  width: 100%;
  padding-top: 50px;
  text-align: center;
  font-size: 40px;
  color: white;
}

#contact {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

#social-media {
  margin: 0 40px;
  text-align: center;
}

.media {
  font-size: 20px;
  color: white;
}

.copyright {
  width: 100%;
  margin: auto;
  padding-top: 130px;
}

p {
  text-align: center;
  color: white;
}

.copy-link {
  color: white;
}

/*Media Queries*/

@media only screen and (max-width: 1050px) {
  main {
    height: auto;
  }

  #projects {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .project-tile {
    margin: 20px auto;
  }
}

@media only screen and (max-width: 710px) {
  #welcome-section {
    padding-top: 50px;
  }

  #navbar {
    display: flex;
    flex-direction: column;
  }

  .logo {
    width: 100%;
  }

  .nav-link {
    width: 100%;
    justify-content: center;
    padding-left: 15px;
  }

  .work {
    margin: 0 40px;
  }

  main {
    padding-top: 120px;
  }

  #main-title {
    font-size: 28px;
  }

  .footer-title {
    font-size: 28px;
  }

  #social-media {
    margin: 0 10px;
  }

  .media {
    font-size: 15px;
  }
}

@media only screen and (max-width: 465px) {
  h1 {
    font-size: 40px;
  }

  #main-title {
    font-size: 20px;
  }

  .footer-title {
    font-size: 20px;
  }

  #social-media img {
    width: 40px;
  }

  .media {
    font-size: 12px;
  }
}
